.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 2.82857143;
    color: #f0f3f3 !important;
    text-decoration: none;
    background-color: #313030;
    border: 1px solid #ddd;
}